amqp==5.3.1
billiard==4.2.1
celery==5.4.0
Django==5.1.5
djangorestframework==3.15.2
flower==2.0.1
googletrans==4.0.2
httpx==0.28.1
idna==3.10
kombu==5.4.2
logging==0.4.9.6
python-dateutil==2.9.0.post0
pytz==2025.1
redis==5.2.1
tzlocal==5.2
vine==5.1.0
django-tinymce==4.1.0
django-redis==5.4.0
psycopg2-binary==2.9.10